#name {
    width: 100%;
    padding: 3px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}
#type {
    width: 100%;
    padding: 3px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}
#location {
    width: 100%;
    padding: 3px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}
#timeAged {
    width: 100%;
    padding: 3px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}
#price {
    width: 100%;
    padding: 3px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}
#image {
    width: 100%;
    padding: 3px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}
#image-preview {
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
}
#add-cheese-form button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    margin-top: 5px;
}
