.cheese-indiv {
    width: 80%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 15px;;
}
.cheese-indiv img {
    max-width: 400px;
    max-height: 300px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cheese-indiv h1 {
    padding-bottom: 10px;
}


