.cheese-indiv {
    width: 80%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}
.cheese-indiv img:hover {
    cursor: pointer;
}
.cheese-indiv img {
    max-width: 400px;
    max-height: 300px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cheese-indiv h1 {
    padding-bottom: 10px;
}
/* Edit and Delete icons */
.cheese-indiv-icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    padding: 10px;
}
.cheese-indiv-icons a {
    color: white;
    text-decoration: none;
}
.cheese-indiv-icons a:hover {
    cursor: pointer;
}
