.cheese-list #add-cheese {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.cheese-list #add-cheese:hover {
    background-color: darkred;
    cursor: pointer;
}



