#contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: auto;
    background-color: pink;
    width: auto;
}

#contact-form button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

