#contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: auto;
    background-color: pink;
    width: auto;
}

#contact-form button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#name, #email, #message {
    padding: 10px;
    display: inline-block;
}
#contact-form label {
    display: block;
    margin-top: 10px;
    width: 100%;
}

