header {
    background-color: red;
    padding: 10px;
}

header h1{
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}
#main-header {
        flex-direction: row;
        justify-content: space-between;
        display: flex;
    }
#logo {
    width: 100px;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

