#wine table {
    margin-left: auto;
    margin-right: auto;
}
#wine table, #wine th, #wine td {
    padding: 5px;
    text-align: center;
}
#wine th, #wine td {
    border-top: 2px solid black;
    background-color: red;
}
#wine img {
    width: 60%;
    max-height: 400px;
    padding: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}



